{% extends 'folders/base.html' %}
{% load static %}
{% block create %}
<style>
    #cke_id_description{
        width: 100% !important;
    }

    @media only screen and (min-width: 991.11px){
        #cke_id_description{
        width: 117% !important;
        }
    }

    @media only screen and (min-width: 1198.89px){
        #cke_id_description{
        width: 139.5% !important;
        }
    }

    @media only screen and (min-width: 1399.50px){
        #cke_id_description{
        width: 162% !important;
        }
    }
</style>
    
    <!-- ======= Comments ======= -->
    <main id="main">
        <section class="single-post-content">
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                    <h5 class="comment-title"> Create Article</h5>
                        <div class="row">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <form method="Post" class="form-control" enctype="multipart/form-data">  <!-- enctype ensures images are uploaded -->
                                        {% if messages %}
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                {% for message in messages %}
                                                <strong {% if message.tags %} class="{{ message.tags }}"{% endif %} class="message">{{ message }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        {{form.media}}
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary"> Post comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <br>
                        </div>    
                    <!-- End Comments Form -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End Comments -->
    <script>
        let inputfields = document.getElementsByTagName('input')
        let bodyField = document.getElementById('id_description')
        let category = document.getElementById('id_categories')
        let status = document.getElementById('id_status')
        for(let i=0; i<inputfields.length;i++){
            inputfields[i].classList.add('form-control')
        }
        bodyField.classList.add('form-control')
        category.classList.add('form-control')
        status.classList.add('form-control')
    </script>
    {% endblock %}

    